.loding {
  z-index: 24;
  position: absolute;
  top: 50%;
  left: 50%;
}

.main_container {
  z-index: 24;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 10px;
  background-color: rgba(41, 37, 37, 1);
  color: white;
  border: solid 2px white;
  border-radius: 20px;
  padding: 20px;
}

.btn_close {
  position: absolute;
  right: 10px;
  top: 10px;
}

.blackout {
  z-index: 15;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(41, 37, 37, 0.7);
}
